Client/bin
/bin
*.properties
.idea/
*.iml
*.class
/Client.class
/LoginFrame.class
/Main.class
/Server/Debug
/Server/x64
/Server/.vs
/Server/Server/Debug
/Server/Server/x64
/Client/.settings
*.prefs
/.metadata/
